/* styles.css */

.ion-header {
  // padding: 2px 0;
}

.ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ion-title img {
  margin-right: 10px; /* Adjust the margin as needed */
}

.ion-button img {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
}
