.modal-top {
  background: url("../../images/modalBg.png") top left no-repeat;
  background-size: cover;
  /* max-width: 350px; */
  width: 98%;
  height: 163px;
  display: flex;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  color: white;
}
.text-gray {
  color: rgb(161, 161, 161);
}
.modal-top .bottom-item {
  display: flex;
  padding-bottom: 1.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: 14px;
  font-size: 12px;
}
.modal-top .text-corner {
  position: absolute;
  font-size: 0.75rem;
  line-height: 1rem;
  top: 8px;
  right: 4px;
  color: rgb(248, 105, 54);
  font-size: 10px;
}
.gray-box {
  padding: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #999;
}
.after-gray {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
}
.after-gray h4 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 10px 4px;
}
.after-gray button {
  border-radius: 0.375rem;
  border-width: 1px;
  padding: 3px 0.5rem;
  border: 1px solid #3d73fa;
  color: #3d73fa;
  background-color: #fff;
}
.range {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.range input {
  width: 100%;
}
p {
  color: rgb(54, 54, 54);
  padding: 10px;
}
.btn-top {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.375rem;
  border-width: 1px;
  width: 100%;
  max-width: 340px;
  background: #e8f1ff;
  color: #3d73fa;
  border: 1px solid #3d73fa;
}

.bbtn-blue {
  border-radius: 5px;
  background: linear-gradient(90deg, #61b2ff 0%, #3d73fa 100%);
  box-shadow: 0px 2px 7px 1px rgba(198, 201, 203, 0.2);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.375rem;
  border-width: 1px;
  width: 100%;
  max-width: 340px;
}
